/* stylelint-disable font-family-name-quotes */
.mainContainer {
  padding-top: 25px;
}

.game {
  align-items: center;
  column-gap: 10%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

body {
  background-color: #282c34;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  width: 550px;
}

.questions {
  background-color: #2f3541;
  border-radius: 50px;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: center;
  opacity: 0.5;
  padding: 50px;
  row-gap: 15px;
  width: 750px;
}

.answered {
  align-items: center;
  background-color: #66b90a;
  border-radius: 6px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  font-family: 'Red Hat Mono' , monospace;
  font-size: 1.8em;
  font-weight: 600;
  justify-content: space-between;
  padding: 5px 0;
  width: 100%;
}

.wrongAnswered {
  align-items: center;
  background-color: #8a1f1b;
  border-radius: 6px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  font-family: 'Red Hat Mono' , monospace;
  font-size: 1.8em;
  font-weight: 600;
  justify-content: space-between;
  padding: 5px 0;
  width: 100%;
}

.answers {
  align-items: center;
  background-color: black;
  border-radius: 6px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  font-family: 'Red Hat Mono' , monospace;
  font-size: 1.8em;
  font-weight: 600;
  justify-content: space-between;
  padding: 5px 0;
  width: 100%;

}

.answers:hover {
  background-color: rgba(240, 248, 255, 0.777);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
  color: #282c34;
  cursor: pointer;
}

.font-hd {
  color: aliceblue;
  font-size: 2.5em;
}

.font-question {
  color: aliceblue;
  font-size: 2em;
}

.button-next {
  background-color: black;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  color: aliceblue;
  font-family: 'Red Hat Mono' , monospace;
  font-size: 1.8em;
  font-weight: 700;
  height: 55px;
  padding: 5px;
  width: 100%;

}

.button-next:hover {
  background-color: rgba(0, 0, 0, 0.83);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.728);
  cursor: pointer;
  transition: 0.3s;

}

.App-logo2 {
  display: block;
  height: 18vmin;
  margin: auto;
  padding: 10px;
  pointer-events: none;
  width: 800px;

}

.loading {
  color: aliceblue;
  font-size: 2em;
  height: 252px;
  padding: 200px 50px 0;
  text-align: center;
  width: 825px;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo2 {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
